.drop_area {
    width: 125px;
    height: 125px;
    font-size: 15px;
    color: grey;
    border: 1.5px dotted grey;
}

.drop_hover {
    border: 1.5px dotted black;
    color: black;
}

.adminheader {
    color: red;
    font-size: 200%;
    margin: 20px 0px 20px 0px; /* top right bottom left*/
    text-align: center;
}

.container {
    display: flex; /* flex-direction : default -> row ; cross-axis : column */
    flex-basis: auto;
    column-gap: 50px;
}

#FlexCol1 {
    width: 50%;
}

#FlexCol2 {
    width: 50%;
}
 
