#drop_area {
    width: 200px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminheader {
    color: red;
    font-size: 200%;
    margin: 20px 0px 20px 0px; /* top right bottom left*/
    text-align: center;
}

.container {
    display: flex; /* flex-direction : default -> row ; cross-axis : column */
    flex-basis: auto;
    column-gap: 50px;
}

#FlexCol1 {
    width: 50%;
}

#FlexCol2 {
    width: 50%;
}

