
header { 
    text-align: center;
    background: lightblue;
    font-size: 500%;
    color: black;
    padding: 10px 0px 10px 0px; /* top right bottom left*/
    display: block;
    /* spacing for the floating bar */
    padding-top: 90px;
}

body {
    background: rgb(191, 243, 225);
    /* change the word-font to SF Pro in apple, avoid the layout problem cause by word font*/
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;    
}

.floatingbar{
    background-color: black;
    color: white;
    /* fixed at top */
    position: fixed; 
    /* orginial position */
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
}

.links{
    background-color: aquamarine;
}

#shid:hover{ /* not working */
    background-color: brown;
}

.CatagoriesBar{
    background-color: blanchedalmond;

    color: black;
    /* setting its size and orginial position */
    width: 130px;
    height: 800px;
    vertical-align: top;
    /* perform a column properties */
    display: inline-block;
}

.CatagoriesWord{
    margin-bottom: 25px;
    list-style-type: circle;
}

#ulmodify{
    padding-inline-start: 20px;
    /* default 40 px */
}

.Thumbnail {
    width: 150px;
    height: 150px;
    /* add a marign -> separate photos */
    margin: 10px 0px 10px 0px; 
    display: inline-block; 
}


.ThumbnailCol{
    width: 70%;
    display: inline-block; 
}

.ThumbnailLayout{
    display: inline-block;
    background-color: whitesmoke;
    color: white;
    font-size: 100%;
    padding: 0px 10px 0px 10px;
}

.HomePageThumbnail {
    display: inline-block;
    margin-left: 15%;
    width: 20%;
}

/*  inline-block -> the top and bottom margins/paddings are respected; inline -> they are not. */
.instructionwords{
    display: inline-block;
    vertical-align: top;
    font-size: auto;
    width: 40%;
}

/* 1fr - freespace, 1px, 1% */