h1 {    
    font-size: 200%;
    color: blue;
}

header { 
    text-align: center;
    background: lightblue;
    font-size: 500%;
    color: black;
    padding: 10px 0px 10px 0px; /* top right bottom left*/
}

body {
    background: lightgrey;
}

.Thumbnail {
    width: 10%;
    /* add a marign -> separate photos */
    margin: 10px 25px 10px 0px; 
    display: inline-block; 
}